<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="classes" thread-count="3">

    <test name="RegressionTests">

        <classes>
            <class name="tests.FrameworkBuildDataDrivenTest"/>
            <class name="tests.MoreUIValidationsTest"/>
            <class name="tests.UIValidationsContinuedTest"/>

        </classes>


    </test>


</suite>